<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MicroPython WebSocket</title>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <h1>MicroPython WebSocket</h1>
    <div class="container">
      <h1><span id="myMessage">Waiting for first message</span></h1>
    </div>
    <script src="static/index.js"></script>
  </body>
</html>
