<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MicroPython WebSocket</title>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <h1>MicroPython ESP32 WebSocket</h1>
    <div class="container">
      <h1>V1 =<span id="V1">Waiting for first message</span></h1>
      <h1>V2 =<span id="V2">Waiting for first message</span></h1>
      <h1>V3 =<span id="V3">Waiting for first message</span></h1>
      <h1>V4 =<span id="V4">Waiting for first message</span></h1>
      <h1>V5 =<span id="V5">Waiting for first message</span></h1>
      <h1>V6 =<span id="V6">Waiting for first message</span></h1>
      <h1>V7 =<span id="V7">Waiting for first message</span></h1>
      <h1>V8 =<span id="V8">Waiting for first message</span></h1>
      <h1>V9 =<span id="V9">Waiting for first message</span></h1>
      <h1>V10 =<span id="V10">Waiting for first message</span></h1>
    </div>
    <script src="static/index.js"></script>
  </body>
</html>
